### Scraping t20 batsman ranking

In [2]:
import sys,requests,csv,io
from bs4 import BeautifulSoup
from urllib.parse import urljoin

url = "http://www.cricbuzz.com/cricket-stats/icc-rankings/batsmen-rankings"
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

In [28]:
lis = []
maindiv = soup.select("#batsmen-t20s div.text-center")
for d in maindiv[1:]:
    row_data = u",".join(s.strip() for s in filter(None, (t.find(text=True, recursive=False) for t in d.find_all())))
    if row_data:
        print(row_data)
        lis.append(row_data)

1,,,3,,Colin Munro,NEW ZEALAND,801,1
2,,,5,,Glenn Maxwell,AUSTRALIA,799,2
3,,,2,,Babar Azam,PAKISTAN,786,1
4,,,2,,Aaron Finch,AUSTRALIA,763,1
5,,,6,,Martin Guptill,NEW ZEALAND,747,1
6,,,3,,Virat Kohli,INDIA,741,1
7,,,2,,Evin Lewis,WINDIES,734,2
8,,,2,,Lokesh Rahul,INDIA,683,4
9,,,1,,Alex Hales,ENGLAND,679,1
10,,,2,,Mohammad Shahzad,AFGHANISTAN,653,7
11,,,–,,Hamilton Masakadza,ZIMBABWE,648,4
12,,,2,,Hashim Amla,SOUTH AFRICA,643,8
13,,,–,,Kane Williamson,NEW ZEALAND,634,3
14,,,5,,Joe Root,ENGLAND,630,4
15,,,2,,Eoin Morgan,ENGLAND,618,1
16,,,–,,Shaiman Anwar,UNITED ARAB EMIRATES,615,12
17,,,2,,Rohit Sharma,INDIA,604,11
18,,,4,,Faf du Plessis,SOUTH AFRICA,594,3
19,,,–,,David Warner,AUSTRALIA,589,1
20,,,5,,Soumya Sarkar,BANGLADESH,581,20
21,,,3,,Sabbir Rahman,BANGLADESH,578,10
22,,,–,,Dawid Malan,ENGLAND,576,22
23,,,–,,Malcolm Waller,ZIMBABWE,572,22
24,,,4,,Jean-Paul Duminy,SOUTH AFRICA,568,6
25,,,3,,Marlon Samuels,WINDIES,568,3
26,,,6,,Jos Buttler,ENGLAND,558,18
28,,,22,,Shikhar Dhawan,INDIA,552,28
29,,,6,,David Miller,SOUTH AFRICA,551,22
30,,,4,,Ahmed Shehzad,PAKISTAN,549,6
31,,,4,,Chris Gayle,WINDIES,541,1
32,,,11,,AB de Villiers,SOUTH AFRICA,540,14
33,,,1,,Paul Stirling,IRELAND,525,25
34,,,1,,MS Dhoni,INDIA,521,18
35,,,5,,Jason Roy,ENGLAND,518,25
36,,,12,,Quinton de Kock,SOUTH AFRICA,518,16
37,,,3,,Shoaib Malik,PAKISTAN,518,4
38,,,9,,Shakib Al Hasan,BANGLADESH,514,16
39,,,1,,Mohammad Nabi,AFGHANISTAN,507,39
40,,,9,,Kusal Perera,SRI LANKA,505,5
41,,,4,,Najibullah Zadran,AFGHANISTAN,498,22
42,,,2,,Suresh Raina,INDIA,483,2
43,,,–,,Mahmudullah,BANGLADESH,481,43
44,,,2,,Tamim Iqbal,BANGLADESH,469,22
45,,,–,,William Porterfield,IRELAND,453,33
46,,,1,,Gary Wilson,IRELAND,447,46
47,,,10,,Thisara Perera,SRI LANKA,446,47
48,,,4,,Asghar Stanikzai,AFGHANISTAN,439,48
49,,,2,,Andre Fletcher,WINDIES,432,28
50,,,33,,Manish Pandey,INDIA,429,50
51,,,5,,Sarfraz Ahmed,PAKISTAN,417,51
52,,,22,,Farhaan Behardien,SOUTH AFRICA,415,52
53,,,5,,Ross Taylor,NEW ZEALAND,415,17
55,,,–,,Mark Chapman,HONG KONG,408,55
56,,,1,,Samiullah Shenwari,AFGHANISTAN,401,54
57,,,2,,Lendl Simmons,WINDIES,399,11
58,,,9,,Michael Klinger,AUSTRALIA,398,48
59,,,3,,Mohammad Hafeez,PAKISTAN,392,10
60,,,5,,Mohammad Usman,UNITED ARAB EMIRATES,377,60
61,,,16,,Mushfiqur Rahim,BANGLADESH,375,46
62,,,2,,Yuvraj Singh,INDIA,373,1
63,,,7,,Kevin O Brien,IRELAND,364,54
64,,,2,,Angelo Mathews,SRI LANKA,360,31
65,,,6,,Fakhar Zaman,PAKISTAN,355,65
66,,,–,,Brendan Taylor,ZIMBABWE,355,4
67,,,–,,Reeza Hendricks,SOUTH AFRICA,347,65
68,,,8,,Rohan Mustafa,UNITED ARAB EMIRATES,346,68
69,,,4,,Noor Ali Zadran,AFGHANISTAN,336,30
70,,,7,,Travis Head,AUSTRALIA,335,61
71,,,4,,Niroshan Dickwella,SRI LANKA,334,71
72,,,–,,Danushka Gunathilaka,SRI LANKA,330,72
73,,,4,,Corey Anderson,NEW ZEALAND,330,54
74,,,5,,Chamara Kapugedera,SRI LANKA,329,15
75,,,–,,Kusal Mendis,SRI LANKA,326,75
76,,,4,,Dinesh Chandimal,SRI LANKA,323,46
77,,,4,,Asela Gunaratne,SRI LANKA,314,68
78,,,7,,Kieron Pollard,WINDIES,303,23
79,,,–,,James Vince,ENGLAND,287,51
80,,,6,,Najeeb Tarakai,AFGHANISTAN,287,80
81,,,–,,Dasun Shanaka,SRI LANKA,284,81
83,,,1,,George Bailey,AUSTRALIA,279,28
84,,,4,,Gulbadin Naib,AFGHANISTAN,277,64
85,,,4,,Dilshan Munaweera,SRI LANKA,272,82
86,,,4,,Darren Sammy,WINDIES,272,56
87,,,6,,Rameez Shahzad,UNITED ARAB EMIRATES,269,87
88,,,1,,Moises Henriques,AUSTRALIA,259,84
90,,,–,,Sikandar Raza,ZIMBABWE,253,77
91,,,1,,Jonny Bairstow,ENGLAND,250,46
92,,,4,,Usman Ghani,AFGHANISTAN,249,55
93,,,5,,Carlos Brathwaite,WINDIES,249,93
94,,,6,,Sese Bau,PAPUA NEW GUINEA,244,94
95,,,–,,Upul Tharanga,SRI LANKA,242,16
96,,,1,,Ben Dunk,AUSTRALIA,235,92
97,,,–,,Shafiqullah Shafiq,AFGHANISTAN,234,95
98,,,–,,Karim Sadiq,AFGHANISTAN,233,46
99,,,2,,Luke Ronchi,NEW ZEALAND,231,53
100,,,–,,Mangaliso Mosehle,SOUTH AFRICA,229,95

In [29]:
import pandas as pd
df = pd.DataFrame(lis,columns = ['rankings'])

In [30]:
df['current_rank'] = df['rankings'].apply(lambda x: str(x).split(',')[0])
df['batsman'] = df['rankings'].apply(lambda x: str(x).split(',')[5])
df['rating'] = df['rankings'].apply(lambda x: str(x).split(',')[7])
df['best_rank'] = df['rankings'].apply(lambda x: str(x).split(',')[8])

In [32]:
df.drop('rankings',axis=1,inplace=True)

In [36]:
df.to_csv('/Users/shubhamjain/Downloads/AV/IPL/rating.csv', index=False)

In [37]:
df.head()

  current_rank         batsman rating best_rank
0            1     Colin Munro    801         1
1            2   Glenn Maxwell    799         2
2            3      Babar Azam    786         1
3            4     Aaron Finch    763         1
4            5  Martin Guptill    747         1

In [108]:
## auction data

auction = pd.read_csv('/Users/shubhamjain/Downloads/AV/IPL/cricbuzz_ipl.csv')

In [109]:
auction['country'] = auction['role'].apply(lambda x: str(x).split()[-1])

In [116]:
auction['Price'] = auction['final_price'].apply(lambda x: str(x).split()[0])
auction['final_price'] = auction['final_price'].apply(lambda x: str(x).split()[1])

In [117]:
auction = auction.loc[auction['Price'] != '-']

In [127]:
auction.loc[auction['final_price'] == 'Crore', 'Price'] = auction.loc[auction['final_price'] == 'Crore', 'Price'].astype('float') * 100

In [133]:
df = auction[['player','Price','country']]

In [135]:
df.head()

             player Price    country
0       Ben Stokes   1250    England
1   Jaydev Unadkat   1150      India
2    Manish Pandey   1100      India
3     Lokesh Rahul   1100      India
4       Chris Lynn    960  Australia

In [139]:
df['country'].value_counts()

India          113
Australia       17
England          8
Africa           8
Windies          7
Zealand          7
Afghanistan      4
Lanka            2
Bangladesh       2
Nepal            1
Name: country, dtype: int64

In [145]:
retained = pd.DataFrame(data = {
    'player': ['MS Dhoni','Suresh Raina','Ravindra Jadeja', 'Rishabh Pant', 'Chris Morris', 'Shreyas Iyer',
              'Axar Patel', 'Sunil Narine', 'Andre Russell', 'Rohit Sharma', 'Hardik Pandya', 'Jasprit Bumrah',
              'Steve Smith', 'Virat Kohli', 'AB de Villiers', 'Sarfaraz Khan', 'David Warner', 'Bhuvneshwar Kumar'],
    'Price': [15,11,7,8,7.1,7,6.75,8.5,7,15,11,7,12,17,11,1.75,12,8.5] ,
    'country':['India','India','India','India','Africa','India','India','Windies', 'Windies','India','India','India',
              'Australia','India','Africa','India','Australia','India']
 })

In [149]:
retained['Price'] = retained['Price'] * 100

In [152]:
df = pd.concat([df,retained]).reset_index(drop=True)

In [175]:
df['player'][0]

'Ben Stokes'

In [173]:
df.ix[:168,'player'] = df.ix[:168,'player'].apply(lambda x: str(x).split(" ")[1] +" "+ str(x).split(" ")[2])

In [174]:
df.to_csv('/Users/shubhamjain/Downloads/AV/IPL/cricbuzz_ipl.csv', index=False)